version: '3.9'

services:
  bot:
    build: .
    container_name: youtube_audio_bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./downloads:/app/downloads
      - ./white_list.txt:/app/white_list.txt
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
