version: '3.9'

services:
  bot:
    build: .
    container_name: youtube_audio_bot
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - DATA_DIR=/app/data
    volumes:
      - ./downloads:/app/downloads
      - ./data:/app/data
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
